{% extends "BlogBundle:Components:_menu-list.html.twig" %}

{# js use this links for generate mmenu, if you add some custom link - they automaticli added to mmenu #}
{% block menu_link %}
    {{ parent() }}
    <li><a href="#">Info</a></li>
{% endblock %}