<div class="footer-contacts">
    <div class="footer-title">
        <p>Keep in touch</p>
    </div>
    <div class="footer-content">
        <ul>
            <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <p>max.strutinskiy@gmail.com</p>
            </li>
            <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>+3 80 967 144 266</p>
            </li>
            <li>
                <i class="fa fa-print" aria-hidden="true"></i>
                <p>+3 80 967 144 266</p>
            </li>
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p>Ukraine, Cherkasi</p>
            </li>
            <li>
                <i class="fa fa-vk" aria-hidden="true"></i>
                <p>/strutinskiymaxim</p>
            </li>
        </ul>
    </div>
</div>