{# This template used in Footer and MainMenu if you need extend them - use [block menu_link], and add you custom links #}

<ul class="menu-list">
    <li><a class="{% block home %} {% endblock %}" href="{{ path('homepage') }}">Home</a></li>
    <li><a class="{% block blog %} {% endblock %}" href="{{ path('blog') }}">Blog</a></li>
    <li><a class="{% block contact %} {% endblock %}" href="{{ path('contact') }}">Contact</a></li>
    <li><a class="{% block info %} {% endblock %}" href="{{ path('info') }}">Info</a></li>
    <li><a href="https://github.com/MaximStrutinskiy/blog/tree/MaximStrutinskiy" target="_blank">GitHub</a></li>
</ul>