{% extends "BlogBundle::base.html.twig" %}

{% block title %}/ Blog{% endblock %}


{% block body %}

    <h1>Hello, It's a blog page</h1>

    {% include "BlogBundle:Section:_footer.html.twig" %}

{% endblock %}