{# Main template #}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Main page!</h1>
    </div>

    {% include "BlogBundle:Section:_footer.html.twig" %}
{% endblock %}
