{% extends "BlogBundle::base.html.twig" %}

{% block title %}Info{% endblock %}

{% block body %}

    {% include "BlogBundle:Section/_header:_info_header.html.twig" %}

    <div class="container-susy">
        <div class="redactor">
            <div class="c-section">
                <h1 class="h1-c bg-g">Info page <span> - Is this page you take all information about project WebFish.</span></h1>
                <p class="p-c">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, possimus, velit! Culpa eligendi eos in ipsam minus nostrum possimus ratione.</p>
            </div>
            <div class="c-section">
                <h1 class="h1-c bg-g">Project plan<span> - Here you can see the outline of the project.</span></h1>
                <ul class="ul-c">
                    <li>
                        <p>- Installing Symfony 3 project using the composer <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Install npm and config Gulp, add tasks <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add Homepage, Contact, Info pages <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add mobile menu, use JavaScript, MMENU plagin <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add mobile menu, use JavaScript, MMENU plagin <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Fill in the content page: Info, Contact pages <a href="#" class="in-progress">In progress!</a></p>
                    </li>
                    <li>
                        <p>- Add page Blog <a href="#" class="no-work">No-work!</a></p>
                    </li>
                    <li>
                        <p>- Add page registration for users in Blog <a href="#" class="no-work">No-work!</a></p>
                    </li>

                </ul>
            </div>
            <div class="c-section">
                <h1 class="h1-c bg-g">Used info<span> - Here is the entire list of references.</span></h1>
                <ul class="ul-c">
                    <li>
                        <p>0) GeekHub materials <a href="https://plus.google.com/u/0/communities/103356895682698281466">TUK!</a></p>
                    </li>
                    <li>
                        <p>1) Http fundamentals <a href="http://symfony.com/doc/current/introduction/http_fundamentals.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>2) Architecture <a href="http://symfony.com/doc/current/quick_tour/the_architecture.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>3) Configuration <a href="http://symfony.com/doc/current/configuration.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>4) Bundles <a href="http://symfony.com/doc/current/bundles.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>5) Routing <a href="http://symfony.com/doc/current/routing.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>6) Controller <a href="https://symfony.com/doc/current/controller.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>7) External resources <a href="http://symfony.com/doc/current/routing/external_resources.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>8) Http foundation <a href="http://symfony.com/doc/current/components/http_foundation.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>9) Sessions <a href="https://symfony.com/doc/current/components/http_foundation/sessions.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>10) Setting cookies <a href="http://symfony.com/doc/current/components/http_foundation.html#setting-cookies">TUK!</a></p>
                    </li>
                    <li>
                        <p>11) Redirect in config <a href="http://symfony.com/doc/current/routing/redirect_in_config.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>12) Twig <a href="http://twig.sensiolabs.org/">TUK!</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    {% include "BlogBundle:Section:_footer.html.twig" %}

{% endblock %}