//== Default colors ==//
$whit: #ffffff;
$black: #000000;

//== Theme colors ==//

//text colors
$green: #6fc754;
$black-text: #26272d;
$grey-text: #8c8f94;

//background colors
$grey-light: #eaeaed;
$grey-bg: #f5f5f5;
