<div id="index-header" class="index-header">
    <div class="container-susy">

        <div class="i-header-menu">
            <div class="ih-menu-left">
                <a href="{{ path('blog_homepage') }}"><img src="{{ asset('assets/assets/img/webfish-logo.png') }}" alt="webfish logotype"></a>
            </div>
            <div class="ih-menu-right">
                {% include 'BlogBundle:Components/_menu:_index-menu-list.html.twig' %}
                <div class="toogle">
                    <a href="#" id="toogle" class="menu-toogle"><span></span></a>
                </div>
            </div>
        </div>

        <div class="i-header-content">
            <div class="ihtc-table">
                <h1>Creation simple blog</h1>
                <p>It is an open source product designed to improve programming skills using framework <a href="http://symfony.com/" target="_blank">Simfony3</a></p>
                <a href="{{ path('info') }}" class="grey-button">Learn More</a>
            </div>
        </div>

    </div>
</div>