<div id="info-header" class="info-header">
    <div class="container-susy">

        <div class="i-header-menu">
            <div class="ih-menu-left">
                <a href="{{ path('homepage') }}"><img src="{{ asset('assets/assets/img/webfish-logo.png') }}" alt="webfish logotype"></a>
            </div>
            <div class="ih-menu-right">
                {% include 'BlogBundle:Components/_menu_page:_info-menu-list.html.twig' %}
                <div class="toogle">
                    <a href="#" id="toogle" class="menu-toogle"><span></span></a>
                </div>
            </div>
        </div>

        <div class="i-header-content">
            <div class="ihtc-table">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li><p>/</p></li>
                        <li><p>Info</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>