{% extends "BlogBundle::base.html.twig" %}

{% block title %}/ Info{% endblock %}

{% block body %}

    {% include "BlogBundle:Components/_header:_info_header.html.twig" %}

    <div class="container-susy">

        <div class="redactor">
            <h2>Info page </h2>
            <p>Is this page you take all information about project WebFish.</p>
            <div class="c-section">
                <p>
                    WebFish - project, developed for the purposes of learning, namely language learning programming and
                    PHP framework Symfony. Also to consolidate the knowledge on technologies such as HTML / Twig, CSS /
                    SSCC, JS / jQuery, Gulp, Git, Photoshop / Avocode. WebFish - a blog that will be implemented, basic
                    functionality such as:
                </p>
                <ul class="ul-c">
                    <li><p>+ The administrative panel (and the corresponding functional).</p>
                        <ul class="ul-c">
                            <li><p>- Add / remove news.</p></li>
                            <li><p>- Moderate comments.</p></li>
                            <li><p>- Distribute moderator privileges - users.</p></li>
                        </ul>
                    </li>
                    <li><p>+ Office-friendly (and corresponding functionality).</p>
                        <ul class="ul-c">
                            <li><p>- Add news to elects.</p></li>
                            <li><p>- Grouping elect news and post links to social networks.</p></li>
                        </ul>
                    </li>
                    <li><p>- Post news by category.</p></li>
                    <li><p>- Comments.</p></li>
                </ul>
                <p>
                    Monitor the status of projects can be <a href="#">lower</a>, as well as opensors project - you can
                    follow its progress on
                    <a href="https://github.com/MaximStrutinskiy/blog/tree/MaximStrutinskiy">GitHub</a>
                </p>
            </div>
            <div class="c-section">
                <h1 class="h1-c bg-g">Project plan<span> - Here you can see the outline of the project.</span></h1>
                <ul class="ul-c">
                    <li>
                        <p>- Installing Symfony 3 project using the composer. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Install npm and config Gulp, add tasks. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add Homepage, Contact, Info pages. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add mobile menu, use JavaScript, MMENU plagin. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add mobile menu, use JavaScript, MMENU plagin. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Fill in the content page: Info, Contact pages. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Users can send message for Admin, all messages inserted to database. <a href="#">Done!</a></p>
                    </li>
                    <li>
                        <p>- Add page Blog. <a href="#" class="in-progress">In progress!</a></p>
                    </li>
                    <li>
                        <p>- Add page registration for users in Blog. <a href="#" class="in-progress">In progress!</a></p>
                    </li>
                    <li>
                        <p>- Think the system works with users. <a href="#" class="no-work">No-work!</a></p>
                    </li>
                    {# <a href="#">Done!</a> #}
                    {# <a href="#" class="in-progress">In progress!</a> #}
                    {# <a href="#" class="no-work">No-work!</a> #}
                </ul>
            </div>
            <div class="c-section">
                <h1 class="h1-c bg-g">Used info<span> - Here is the entire list of references.</span></h1>
                <ul class="ul-c">
                    <li>
                        <p>- GeekHub materials. <a href="https://plus.google.com/u/0/communities/103356895682698281466">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Http fundamentals. <a
                                    href="http://symfony.com/doc/current/introduction/http_fundamentals.html">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Architecture. <a href="http://symfony.com/doc/current/quick_tour/the_architecture.html">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Configuration. <a href="http://symfony.com/doc/current/configuration.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- Bundles. <a href="http://symfony.com/doc/current/bundles.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- Routing. <a href="http://symfony.com/doc/current/routing.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- Controller. <a href="https://symfony.com/doc/current/controller.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- External resources. <a
                                    href="http://symfony.com/doc/current/routing/external_resources.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- Http foundation. <a href="http://symfony.com/doc/current/components/http_foundation.html">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Sessions. <a
                                    href="https://symfony.com/doc/current/components/http_foundation/sessions.html">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Setting cookies. <a
                                    href="http://symfony.com/doc/current/components/http_foundation.html#setting-cookies">TUK!</a>
                        </p>
                    </li>
                    <li>
                        <p>- Redirect in config. <a
                                    href="http://symfony.com/doc/current/routing/redirect_in_config.html">TUK!</a></p>
                    </li>
                    <li>
                        <p>- Twig. <a href="http://twig.sensiolabs.org/">TUK!</a></p>
                    </li>
                    <li>
                        <p>- GitHub Gists. <a href="https://gist.github.com/MaximStrutinskiy">TUK!</a></p>
                    </li>
                    {#<li>#}
                        {#<p>- Example. <a href="https://gist.github.com/MaximStrutinskiy">TUK!</a></p>#}
                    {#</li>#}
                </ul>
            </div>
        </div>
    </div>


    {% include "BlogBundle:Components/_footer:_footer.html.twig" %}

{% endblock %}