<ul class="block-category">
    {#{{ dump() }}#}
    {% for cat in category %}
        <li>
            <a href="{{ path('category', {'id' : cat.id, 'name' : cat.name|replace ({' ': '_'})}) }}">{{ cat.name }}</a>
        </li>
        {# show quantity posts in category #}
    {% endfor %}
</ul>