<!DOCTYPE html>
<html>
<head>
    {#add meta tegs#}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    {% block meta %}{% endblock %}

    {#add title#}
    <title>WebFish {% block title %}/ Welcome!{% endblock %}</title>

    {#add styles#}
    {% include "BlogBundle:Main:_style.html.twig" %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{#add contents#}
{# for mmenu #}
{% block body_top %}{% endblock %}

{# for preview #}
{% block body %}{% endblock %}

{# for content #}
<div id="blog_content" class="blog-content">
    <div class="blog-content-left">
        {% block body_left %}{% endblock %}
    </div>

    <div class="blog-content-right">
        {% block body_right %}{% endblock %}
    </div>
</div>

{# for FosUserBundle #}
{% block body_user_content %}{% endblock %}

{# for footer #}
{% block body_bottom %}{% endblock %}

{#add scripts#}
{% include "BlogBundle:Main:_script.html.twig" %}
{% block javascripts %}{% endblock %}
</body>
</html>
