<!DOCTYPE html>
<html>
<head>
    {#add meta tegs#}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    {% block meta %}{% endblock %}

    {#add title#}
    <title>WebFish {% block title %}/ Welcome!{% endblock %}</title>

    {#add styles#}
    {% include "BlogBundle:Main:_style.html.twig" %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{#add contents#}
{% block body %}{% endblock %}

{#add scripts#}
{% include "BlogBundle:Main:_script.html.twig" %}
{% block javascripts %}{% endblock %}
</body>
</html>
