{% extends "BlogBundle::base.html.twig" %}

{% block body_top %}
    {% include 'BlogBundle:Components/_menu_page:_menu_blog.html.twig' %}
{% endblock %}

{% block body_user_content %}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% block fos_user_content %}
    {% endblock fos_user_content %}


{% endblock body_user_content %}

{% block body %}
{% endblock %}

{% block body_bottom %}
    {% include "BlogBundle:Components/_footer:_footer.html.twig" %}
{% endblock %}