@mixin grey-button() {
  color: $black-text;
  border: rem(1px) solid $black-text;
  border-radius: rem(50px);
  padding: rem(20px) rem(75px);

  &:hover {
	text-decoration: none;
	color: $whit;
	background: $green;
	border-color: $green;
  }
}

@mixin green-button() {
  color: $green;
  background: inherit;
  display: inline-block;
  @include clearfix;
  font-size: 16px;
  border: 1px solid $green;
  padding: 10px 25px;

  &:hover {
	background: $green;
	color: $whit;
  }
}

@mixin green-button-active() {
  background: $green;
  color: $whit;
  display: inline-block;
  @include clearfix;
  font-size: 16px;
  border: 1px solid $green;
  padding: 10px 25px;
}

@mixin button($bg-color, $text-color){
  @include clearfix;
  background: none;
  color: $text-color;
  display: inline-block;
  font-size: 14px;
  border: rem(1px) solid $bg-color;
  padding: rem(10px) rem(25px);
  transition: all .3s ease;

  &:hover{
	background: $bg-color;
	border: rem(1px) solid $bg-color;
  }
}